﻿@model XMLValidator

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TCRP XML Validator</title>
</head>
<body>
    <div style="text-align: center;" >
        <h1 style="margin-top: 40px; margin-bottom: 20px; color: #435ea3;">TRANSIT COOPERATIVE RESEARCH PROGRAM</h1>
        </br>
        <h2 style="margin-top: 20px; margin-bottom: 20px; color: #435ea3;">Project G-16: Development of Transactional Data Specifications for Demand-Responsive Transportation</h2>
    </div>

    <div style="text-align: center;">        
        <hr />                
        <h4 style="margin-top: 0px; margin-bottom: 0px; color: #a36d43; font-weight: bold; background-color: #ffffff; text-align: left; border-style: solid none solid none; border-color: dimgray; border-width: 0px;">
            This validator as well as the transactional data specifications were developed by the G-16 project team, which includes researchers and technology developers from DemandTrans Solutions (Roger Teal, Niels Larsen, Charlotte Frei, Jaime Hardt), The Collaborative (David Chia), Arizona State University (David King), and the University of Tennessee (Candace Brakewood). Dr. Roger Teal is the Principal Investigator of the project.
            <br /><br />Questions or concerns about the validator can be addressed to either roger.teal@demandtrans.com or jaime.hardt@demandtrans.com.
            <br /><br />The current validator software is best considered as a beta version, well-tested but by a small number of people. Please contact the project team if you encounter issues in using this tool.
         </h4>
            <hr />

            <h2 style="margin-top: 20px; margin-bottom: 20px; color: #435ea3;">Transactional Data Specification Validator</h2>


            @using (Html.BeginForm(FormMethod.Post))
            {
                <table border="0" align="center">
                    <tr>
                        <td colspan="3">
                            <table width="100%" border="0">
                                <tr>
                                    <td style="color: #435ea3; text-align: right" width="50%">Schema:&nbsp;&nbsp;</td>
                                    <td style="color: #435ea3; text-align: left" width="50%">
                                        <select name="schemaFilename">
                                            <option value="TCRPSchema" selected>TCRP Schema</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table width="100%" border="0">
                                <tr>
                                    <td style="color: #435ea3; text-align: right" width="50%">Input Type:&nbsp;&nbsp;</td>
                                    <td style="color: #435ea3; text-align: left" width="50%">
                                        <select name="inputType">
                                            <option value="xml" @(ViewBag.xmlSelected ?? "")>XML</option>
                                            <option value="json" @(ViewBag.jsonSelected ?? "")>JSON</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="1" style="color: #435ea3; text-align: center;">Paste the input to validate here:</td>
                        <td colspan="1" style="color: #435ea3; text-align: center;">&nbsp;</td>
                        <td colspan="1" style="color: #435ea3; text-align: center;">Validation result:</td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <textarea name="inputString" rows="20" cols="75" title="Paste the XML to Validate Here">@(ViewBag.inputString ?? "")</textarea>
                        </td>
                        <td colspan="1">
                            &nbsp;
                        </td>
                        <td colspan="1">
                            <textarea name="result" rows="20" cols="75" title="Validation Results">@(ViewBag.result ?? "")</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" align="center">
                            <input type="submit" name="name" value="Validate" />
                        </td>
                        <td colspan="2" align="center">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            }

        <table width="100%">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center"><a href="@Url.Content("~/TCRPSchema.xsd")"><span style="color: #435ea3; text-align: center;">View XML Schema Definition File</a></span></td>
            </tr>
            <tr>
                <td align="center"><a href="@Url.Content("~/TCRPSchema.json")"><span style="color: #435ea3; text-align: center;">View JSON Schema Definition File</a></span></td>
            </tr>
        </table>
</div>
</body>
</html>
